@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Rubik';
    font-size: 16px;
}

h1,h2,h3,h4,h5,h6,ul,li,p{
    margin: 0;
    padding: 0;
}

/* HEADER CSS */

header{
    width: 100%;
    height: 100vh;
    background: linear-gradient(358.93deg, #0D0C0F 0.83%, rgba(13, 12, 15, 0.85) 28.55%, rgba(4, 4, 4, 0.26) 57.53%, rgba(13, 12, 15, 0.284314) 70.66%, #0D0C0F 103.18%), url(./img/Mandalorian.png) no-repeat 
     center /cover;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: space-between;
}

/* NAV CSS */
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 90%;
    height: 110px;

    
}
.logo{cursor: pointer;}
.nav-list {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 40px;
}

.nav-list a{
    color: white;
    text-decoration: none;
    font-weight: 300;
    font-size: 22px;
    font-family: 'Inter';
}

.nav-list a:hover{
    color: rgb(200, 198, 198);
}

.home-item a{
    font-weight: 700;
}

.search-wrapper a{
    cursor: pointer;
}

#hero-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin-bottom: 100px;
}

#hero-info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    width: 50%;
    height: 280px;
    flex: none;
    color: white;
    font-size: 18px;
    
}

#hero-title{
    font-size: 36px;
}

#hero-carrousel{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    width: 77px;
    height: 9px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

#movie-details{
    color: #9CA4AB;
}

.hero-button{
    font-family: 'Inter';
    color: white;
    font-weight: 500;
    padding: 13px 22px;
    text-align: center;
    border: none;
    cursor: pointer;
}

.hero-button i{
    margin-right: 6px
}
#hero-info ul{
    list-style-type: none;
    display: flex;
    gap: 20px;
}

.hero-btn-play{
    background: #00925D;
    border-radius: 10px;
}

.hero-btn-play:hover{
    background: #14e699;
    transition: all 0.2;
}

.hero-btn-trailer{
    background: #28262D;
    border-radius: 10px;
}

.hero-btn-trailer:hover{
    background: #5a5762;
    transition: all 0.2;
}

