@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Rubik';
    font-size: 16px;
    background: #0D0C0F;
}

h1,h2,h3,h4,h5,h6,ul,li,p{
    margin: 0;
    padding: 0;
}

/* HEADER CSS */

header{
    width: 100%;
    height: 100vh;
/*     background: linear-gradient(358.93deg, #0D0C0F 0.83%, rgba(13, 12, 15, 0.85) 28.55%, rgba(4, 4, 4, 0.26) 57.53%, rgba(13, 12, 15, 0.284314) 70.66%, #0D0C0F 103.18%), url(./img/Mandalorian.png) no-repeat 
     center /cover;
 */     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: space-between;
     position: relative;
     z-index: 1;
}

/* NAV CSS */
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 90%;
    height: 110px;

    
}
.logo{cursor: pointer;}
.nav-list {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 40px;
}

.nav-list a{
    color: white;
    text-decoration: none;
    font-weight: 300;
    font-size: 22px;
    font-family: 'Inter';
}

.nav-list a:hover{
    color: rgb(200, 198, 198);
}

.home-item a{
    font-weight: 700;
}

.search-wrapper a{
    cursor: pointer;
}

.slider-wrapper{
    position: absolute;
    z-index: -1;
}
.slider {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    position: relative;
   }
    
   .slider .slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    animation: slider 90s infinite;
   }
    
   .slider .slide:nth-child(1) {
      animation-delay: 0s;
   }
   
   .slider .slide:nth-child(2) {
      animation-delay: -4.5s;
   }
   
   .slider .slide:nth-child(3) {
      animation-delay: -9s;
   }
   
   .slider .slide:nth-child(4) {
      animation-delay: -13.5s;
   }
   
   .slider .slide:nth-child(5) {
      animation-delay: -18s;
   }
   
   .slider .slide:nth-child(6) {
      animation-delay: -22.5s;
   }
   
   .slider .slide:nth-child(7) {
      animation-delay: -27s;
   }
   
   .slider .slide:nth-child(8) {
      animation-delay: -31.5s;
   }
   
   .slider .slide:nth-child(9) {
      animation-delay: -36s;
   }
   
   .slider .slide:nth-child(10) {
      animation-delay: -40.5s;
   }
   
   .slider .slide:nth-child(11) {
      animation-delay: -45s;
   }
   
   .slider .slide:nth-child(12) {
      animation-delay: -49.5s;
   }
   
   .slider .slide:nth-child(13) {
      animation-delay: -54s;
   }
   
   .slider .slide:nth-child(14) {
      animation-delay: -58.5s;
   }
   
   .slider .slide:nth-child(15) {
      animation-delay: -63s;
   }
   
   .slider .slide:nth-child(16) {
      animation-delay: -67.5s;
   }
   
   .slider .slide:nth-child(17) {
      animation-delay: -72s;
   }
   
   .slider .slide:nth-child(18) {
      animation-delay: -76.5s;
   }
   
   .slider .slide:nth-child(19) {
      animation-delay: -81s;
   }
   
   .slider .slide:nth-child(20) {
      animation-delay: -85.5s;
   }
   
   @keyframes slider {
    0%, 4%, 100% {
      transform: translateX(0);
      animation-timing-function: ease;
    }
    5% {
      transform: translateX(-100%);
      animation-timing-function: step-end;
    }
    99% {
      transform: translateX(100%);
      animation-timing-function: ease;
    }
   }

   .slider-info-wrapper{
    width: 50%;
    position: absolute;
    top: 70%;
    left: 5%;
   }

   .slider-info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    color: white;
   }
   .landing-runtime{
    color: #a6a5a5;
   }
   .landing-button{
    padding: 15px 20px;
    background: #24b668;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    font-family: 'Rubik';
    font-weight: 400;
    margin-top: 10px;
   }
   .landing-button:hover{
    background: #51ffa2;
    color: #0D0C0F;
    transform: scale(1.03);
   }






/* FOOTER/////////////////////////////////// */
footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Rubik';
    color: #ffffff;
    height: 20vh;
    border-top:1px solid #353535;
    padding-top: 60px;
}

.top-level-footer{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin-bottom: 40px;
}

.footer-title-wrap h2{
    font-size: 40;
    font-weight: medium;
    color: #ffffff;
    width: 30%;
}

.icons-footer-wrap{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.footer-nav{
    display: block;
}

.footer-link{
    text-decoration: none;
    color: #959595;
}
.footer-link:hover{
    color: #dadbdd;
}

.footer-icons-list{
    list-style-type: none;
    display: flex;
    gap: 20px;
    /* gap: 15px; */
}

.bot-level-footer{
    display: flex;
    justify-content: space-between;
    width: 90%;
    padding-bottom: 30px;
}

.policy-list{
    list-style-type: none;
    display: flex;
    gap: 20px;
    width: 30%;
    color: #959595;
}
