@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Rubik';
    font-size: 16px;
}

h1,h2,h3,h4,h5,h6,ul,li,p{
    margin: 0;
    padding: 0;
}

/* HEADER CSS */

header{
    display: flex;
    justify-content: center;
    position: relative;
    
}

/* NAV CSS */
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 90%;
    height: 110px;        
}

.nav-toggle{
    display: none;
}
#discover-item a{
    font-weight: 700;
}
.logo{cursor: pointer;}
.nav-list {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 40px;
}


.li-anchor{
    color: white;
    text-decoration: none;
    font-weight: 300;
    font-size: 22px;
    font-family: 'Inter';
}

.nav-list a:hover{
    color: rgb(200, 198, 198);
}
.header-search{
    background: none;
}



#search-page{
    background: #0D0C0F;
}

/* DOCUMENTO SEARCH */
#search-bar{
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}

#search-bar-label{
    background: white;
    border-radius: 20px;
    padding: 10px;
}

@media (max-width: 768px){
    .nav-list{
        position: absolute;
        top: 60%;
        left: 0;
        display: flex;
        flex-direction: column;
        transform: translateX(-100%);
        background-color: #0D0C0F;
        width: 100%;
        margin-top: 5%;
        padding-left: 5%;
        padding-bottom: 20px;
        order: 1;
    }
    .nav-toggle{
        display: flex !important;
        flex-direction: column;
        cursor: pointer;
    }
    .nav-toggle:hover{
        opacity: 0.5;
    }
    .nav-toggle span{
        width: 30px;
        height: 3px;
        background-color: #9CA4AB;
        margin-bottom: 5px;
        border-radius: 2px;
        transition:all 0.2s linear;
        
    };

    .close span{
        transform:rotate(45deg) translate(0px, 0px);
    }
    .close span:nth-child(2){
        display: none
    }
    .close span:nth-child(3){
        transform:rotate(-45deg) translate(-5px, 1px);
    }
    .open{
        transform: translateX(0) !important
    }
    .logo{
        display: none;
    }
    .search-wrapper{
        order: 2;
    }
    #back-button{
        left: 80%;
    }    
    
};
.hero-wrapper{
    display: none;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin-bottom: 100px;
}

#hero-info{
    top: 70%;
    right: 25%;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    width: 70%;
    max-width: 1200px;
    flex: none;
    color: white;
    font-size: 18px;
    
}
@media(max-width: 768px){
    #hero-info{
        top: 45%;
        right: 25%;
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 16px;
        width: 70%;
        max-width: 1200px;
        flex: none;
        color: white;
        font-size: 18px;
        
    }
}

#hero-title{
    font-size: 36px;
}

#movie-details{
    color: #9CA4AB;
}

.hero-button{
    font-family: 'Inter';
    color: white;
    font-weight: 500;
    padding: 13px 22px;
    text-align: center;
    border: none;
    cursor: pointer;
}
#hero-info ul{
    list-style-type: none;
    display: flex;
    gap: 20px;
}
.hero-button i{
    margin-right: 6px
}

.hero-btn-trailer{
    background: #00925D;
    border-radius: 10px;
}
#trailer-link-btn{
    text-decoration: none;
    color: white;
}

.hero-btn-trailer:hover{
    background: #14e699;
    transition: all 0.2;
}
.inactive{
    display: none;
}

.active{
    display: block;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
#movie-cards-wrapper{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    max-width: 1600px;
    margin-top: 30px;
    width: 90%;
    justify-content: center;
}

@media(max-width: 500px){
    #movie-cards-wrapper{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 10px;        
        margin-top: 30px;
        width: 95%;
        align-items: center;
    }
}
.genre-tags{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: white;
    margin: 10px auto;
}

.tag{
    font-size: 13px;
    color: #bdbdbd;
    padding: 6px 16px;
    background-color: rgb(55, 55, 55);
    border-radius: 10px;
    margin: 5px;
    display: inline-block;
    cursor: pointer;
}

.tag:hover{
    opacity: 0.5;
}
.tag.highlight{
    background-color: rgb(127, 125, 125);
    color: white;
}

.no-results{
    color: white;
    font-size: 36px;
}

.movie::before {
    content: "";
    width: 100%;
    height: 200px;
    position: absolute;
    left: 0;
    bottom: 0;
    background-image: linear-gradient(to top, #000000, transparent);
  }
.movie{
    border-radius: 10px;
    position: relative;
    width: 300px;
    cursor: pointer;
    overflow: hidden;
        
}

.movie:hover{
    opacity: 0.5;
}
.card_overlay{

position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;

}
.overlay_text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 75%;
    margin: 0px 5px 0px 20px;
    max-width: 290px;
    width: 100%;

  }
.movie img{    
    display: block;
    width: 100%;
    height: auto;
}
.movie-rate{
    font-size: 16px;
}
.red-rate{
    color: #ff5a5a;
}

.orange-rate{
    color: #ff9b21;
}

.green-rate{
    color: #75ff79;
}

.movie-genre{
    font-size: 12px;
    color: rgb(214, 214, 214);
}

.filmID{
    display: none;
}

.header-active{
    width: 100%;
    height: 100vh;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: space-between;
}

.section-title{
    color: white;
    margin-top: 50px;
    margin-bottom: 30px;
    font-size: 24px;
    font-weight: 800;
}
.actors-wrapper{
    display: flex;
    width: 90vw;
    height: 600px;
    border-radius: 10px;
    overflow:hidden;
}

.actors-wrapper div{
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: 0.8;
    transition: 0.5s ease;
    height: 100%;
    position: relative;
}

.actors-wrapper div:hover{
    cursor: crosshair;
    width: 300px;
    opacity: 1;

}
.actor-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#actors-div::before{
    content: "";
    width: 100%;
    height: 200px;
    position: absolute;
    left: 0;
    bottom: 0;
    background-image: linear-gradient(to top, #000000, transparent);
  }

.overlay-actor-text {
    color: white;
    font-size: 20px;
    position: absolute;
    bottom: 20%;
    right: 0%;
    margin: 0px 5px 0px 20px;    
    width: 300px;
    object-fit:fill;

  }

/* TRAILER OR VIDEO */
.videos-wrapper{
    width: 100;
    height: auto;
}
.videos-wrapper iframe{
    position: absolute;
    left: 0;
    top: 0;

}
#similar-container{
    width: 100%;
    margin-bottom: 50px;
}

.similar-movies-wrapper{
display: flex;
flex-wrap: nowrap;
overflow: scroll;
width: 90vw;
position: relative;
}
.similar-movies-wrapper::-webkit-scrollbar{
    visibility: hidden;
}
.similar-movies-wrapper::-webkit-scrollbar {
    -webkit-appearance: none;
}

.similar-movies-wrapper::-webkit-scrollbar:vertical {
    width:10px;
}

.similar-movies-wrapper::-webkit-scrollbar-button:increment,.similar-movies-wrapper::-webkit-scrollbar-button {
    display: none;
} 

.similar-movies-wrapper::-webkit-scrollbar:horizontal {
    height: 5px;
}

.similar-movies-wrapper::-webkit-scrollbar-thumb {
    background-color: #d7d6d6;
    border-radius: 30px;
}

.similar-movies-wrapper::-webkit-scrollbar-track {
    border-radius: 10px;  
}
@media(max-width: 768px){
    .similar-movies-wrapper::-webkit-scrollbar{
        display: none;
    }
}

.similar-movie{
    width: 600px;
    margin: 0px 5px;
    cursor: pointer;
}
   
.similar-movie:hover{
    opacity: 0.5;
}
.similar-movie img{
    border-radius: 10px;
}

footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Rubik';
    color: #ffffff;
    height: 20vh;
    border-top:1px solid #353535;
    padding-top: 60px;    
}

.top-level-footer{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin-bottom: 40px;
}

.footer-title-wrap h2{
    font-size: 40;
    font-weight: medium;
    color: #ffffff;
    width: 30%;
}

.icons-footer-wrap{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.footer-nav{
    display: block;
}

.footer-link{
    text-decoration: none;
    color: #959595;
}
.footer-link:hover{
    color: #dadbdd;
}

.footer-icons-list{
    list-style-type: none;
    display: flex;
    gap: 20px;
    /* gap: 15px; */
}

.bot-level-footer{
    display: flex;
    justify-content: space-between;
    width: 90%;
    padding-bottom: 30px;
}

.policy-list{
    list-style-type: none;
    display: flex;
    gap: 20px;
    width: 30%;
    color: #959595;
}
@media(max-width: 768px){
    .top-level-footer{
        display: flex;
        flex-direction: column;
        width: 90%;
        margin-bottom: 40px;
    }
    .footer-title-wrap{
        text-align: center;
    }
    .footer-title-wrap h2{
        font-size: 40;
        font-weight: medium;
        color: #ffffff;
        width: 100%;
        margin-bottom: 20px;
    }
    .icons-footer-wrap{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .footer-icons-list{
        margin-top: 15px;
    }
    .bot-level-footer{
        flex-direction: column;
        align-items: center;
    }
    .policy-list{
        text-align: center;
        list-style-type: none;
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 30%;
        color: #959595;
        margin-bottom: 20px;
    }
}

/* BACK BUTTON */
#back-button{
    display: none;
    position: fixed;
    top: 100px;
    right: 92%;
    z-index: 1;
    background: none;
    border: none;
    cursor: pointer;
    
}

#back-button:hover{
    opacity: 0.6;
}

.page-buttons{
    width: 90%;
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
}

.page-buttons button{
    background: none;
    border: none;
    cursor: pointer;
}

.page-buttons button:hover{
    opacity: 0.6;
}