@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Rubik';
    font-size: 16px;
}

h1,h2,h3,h4,h5,h6,ul,li,p{
    margin: 0;
    padding: 0;
}

/* HEADER CSS */

header{
    display: flex;
    justify-content: center;
    
}

/* NAV CSS */
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 90%;
    height: 110px;     
        
}
.logo{cursor: pointer;}
.nav-list {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 40px;
}

.nav-list a{
    color: white;
    text-decoration: none;
    font-weight: 300;
    font-size: 22px;
    font-family: 'Inter';
}

.nav-list a:hover{
    color: rgb(200, 198, 198);
}
.header-search{
    background: none;
}

#search-page{
    background: #0D0C0F;
}

/* DOCUMENTO SEARCH */
#search-bar{
    background: none;
    border: none;
    outline: none;
}

#search-bar-label{
    background: white;
    border-radius: 20px;
    padding: 10px;
}
.hero-wrapper{
    display: none;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin-bottom: 100px;
}

#hero-info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    width: 70%;
    max-width: 1200px;
    flex: none;
    color: white;
    font-size: 18px;
    
}

#hero-title{
    font-size: 36px;
}

#movie-details{
    color: #9CA4AB;
}

.hero-button{
    font-family: 'Inter';
    color: white;
    font-weight: 500;
    padding: 13px 22px;
    text-align: center;
    border: none;
    cursor: pointer;
}
#hero-info ul{
    list-style-type: none;
    display: flex;
    gap: 20px;
}
.hero-button i{
    margin-right: 6px
}

.hero-btn-trailer{
    background: #00925D;
    border-radius: 10px;
}
#trailer-link-btn{
    text-decoration: none;
    color: white;
}

.hero-btn-trailer:hover{
    background: #14e699;
    transition: all 0.2;
}
.inactive{
    display: none;
}

.active{
    display: block;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#movie-cards-wrapper{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    max-width: 1600px;
    margin-top: 30px;
    width: 90%;
    justify-content: center;
}

@media(max-width: 500px){
    #movie-cards-wrapper{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 10px;        
        margin-top: 30px;
        width: 95%;
        align-items: center;
    }
}
.movie::before {
    content: "";
    width: 100%;
    height: 200px;
    position: absolute;
    left: 0;
    bottom: 0;
    background-image: linear-gradient(to top, #000000, transparent);
  }
.movie{
    border-radius: 10px;
    position: relative;
    width: 300px;
    cursor: pointer;
    overflow: hidden;
        
}

.movie:hover{
    opacity: 0.5;
}
.card_overlay{

position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;

}
.overlay_text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 75%;
    margin: 0px 5px 0px 20px;
    max-width: 290px;
    width: 100%;

  }
.movie img{    
    display: block;
    width: 100%;
    height: auto;
}
.movie-rate{
    font-size: 16px;
}
.red-rate{
    color: #ff5a5a;
}

.orange-rate{
    color: #ff9b21;
}

.green-rate{
    color: #75ff79;
}

.movie-genre{
    font-size: 12px;
    color: rgb(214, 214, 214);
}

.filmID{
    display: none;
}

.header-active{
    width: 100%;
    height: 100vh;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: space-between;
}

footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Rubik';
    color: #ffffff;
    height: 20vh;
    border-top:1px solid #353535;
    padding-top: 60px;    
}

.top-level-footer{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin-bottom: 40px;
}

.footer-title-wrap h2{
    font-size: 40;
    font-weight: medium;
    color: #ffffff;
    width: 30%;
}

.icons-footer-wrap{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.footer-nav{
    display: block;
}

.footer-link{
    text-decoration: none;
    color: #959595;
}
.footer-link:hover{
    color: #dadbdd;
}

.footer-icons-list{
    list-style-type: none;
    display: flex;
    gap: 20px;
    /* gap: 15px; */
}

.bot-level-footer{
    display: flex;
    justify-content: space-between;
    width: 90%;
    padding-bottom: 30px;
}

.policy-list{
    list-style-type: none;
    display: flex;
    gap: 20px;
    width: 30%;
    color: #959595;
}
#movie-details-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;    
    width: 100%;
}
.film-detail-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: 0 auto;
}
/* ACTORS DETAIL */

.actors{
    display: flex;
    flex-wrap: wrap;
    color: white;
    justify-content: center;
/*     overflow-y: hidden;
    overflow-x: scroll; */
}

/* .actors::-webkit-scrollbar{
    overflow: hidden;
} */
.actors-wrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: white;
    margin-top: 40px;
    width: 100%;
}

.img-cropper{
    width: 120px;
    height: 120px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

.img-cropper img{
    /* display: inline; */
    /* margin: 0 auto; */
    margin-left: 0; 
    width: 100%;
    margin-bottom: 20px;
}

/* VIDEOS DETAIL */
.videos-wrapper{
    display: flex;
    justify-content: center;
}
.videos{
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    color: white;
    justify-content: center;
/*     overflow-y: hidden;
    overflow-x: scroll; */
}
/* .videos iframe{
    margin: 5px;
    
} */

/* .videos::-webkit-scrollbar{
    overflow: hidden;
} */

/* SIMILAR MOVIES DETAIL */

.similar-movies-wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
}
.similar-movies{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: white;
/*     overflow-y: hidden;
    overflow-x: scroll; */
}

/* .similar-movies::-webkit-scrollbar{
    overflow: hidden;
} */
.similar-movie{
    cursor: pointer;

}

.similar-movie:hover{
    opacity: 0.5;
}
/* BACK BUTTON */
#back-button{
    display: none;
    position: fixed;
    top: 100px;
    right: 92%;
    z-index: 1;
    background: none;
    border: none;
    cursor: pointer;
    
}

#back-button:hover{
    opacity: 0.6;
}

.page-buttons{
    width: 90%;
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
}

.page-buttons button{
    background: none;
    border: none;
    cursor: pointer;
}

.page-buttons button:hover{
    opacity: 0.6;
}